<!DOCTYPE html>
<html>
    <head>
        <title>劉光晉的秘密</title>
    </head>
    <body>
        <font face="標楷體" size="12px" >debug 我的朋友們</font>
        <ul>
            <li>成員:維尼、Batty、蛇丸、麻糬、kao</li>
            <li>建立日期:2023/7/21</li>
        </ul>
        <iframe width="410" height="728" src="https://www.youtube.com/embed/g4PNsCUmc6U" title="2025年9月18日" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
        <br><br>

        <font face="標楷體" size="6" >回饋表單</font>
         <br><br>
        <font face="標楷體" size="4" >姓名:</font>

        <form action="C:\Users\User\OneDrive - 國立中央大學\文件\KOOJIHW\HW3_htmlAndCss\templates\111302019_index.html">
            <label for="input_1"></label>
            <input name="input_1" id="input_1">

            <br><br>

            <label for="select_1"><font face="標楷體" size="4" >你是從哪裡知道這個網站的:</font></label>
            <br><br>
            <select name="select_1" id="select_1">
            <option value="選項零">請選擇</option>
            <option value="選項一">親友家人</option>
            <option value="選項二">廣告推薦</option>
            <option value="選項三">傳單</option>
            </select>
        
            <br><br>
            <font face="標楷體" size="4" >你最喜歡的休閒活動</font>
            <br><br>
        
            <input type="radio" name="radio" id="radio_1" value="radio_1">
            <label for="radio_1">運動</label><br>
            <input type="radio" name="radio" id="radio_2" value="radio_2">
            <label for="radio_2">音樂</label><br>
            <input type="radio" name="radio" id="radio_3" value="radio_3">
            <label for="radio_3">閱讀</label><br>

            <br><br>
            <font face="標楷體" size="4" >你平常喜歡的音樂類型</font>
            <br><br>

            <input type="checkbox" name="checkbox_1" id="checkbox_1" >
            <label for="checkbox_1">爵士</label><br>
            <input type="checkbox" name="checkbox_2" id="checkbox_2" >
            <label for="checkbox_2">饒舌</label><br>
            <input type="checkbox" name="checkbox_3" id="checkbox_3">
            <label for="checkbox_3">抒情</label><br>

            <br><br>
            <input type="submit">
            
        </form>
    </body> 
</html>