 <!DOCTYPE html>
<html>
    <head>

        <title>111302019_猜數字遊戲</title>
        <script src="../static/111302019_js_1.js"></script>
    </head>  
    <body>
        <font face="標楷體" size="7" >我們來猜數字!!!</font>
        <br><br>
        <font face="標楷體" size="5" >請輸入一個介於0到100的整數</font>

        <br><br>
        <label for="input_1">請猜~</label>
        <input name="input_1" id="input_1">
        <input type="button" value="猜" onclick="guessNumber()">
        
        <!--新增的部分-->

        ==>
        <!--新增提示訊息-->
        <div id="msg" style="margin-top:8px;"></div>

        <!--計時功能-->
        <div>計時：<span id="timer">0</span> 秒</div>

        <h3>歷程</h3>
        <div id="log"></div>


    </body>
</html>