<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>購物車</title>
  <link rel="stylesheet" href="../static/111302019_js_2.css">
</head>
<body>

  <h2>購物車</h2>

  <div class="cart">
    <!-- 標題列 -->
    <div class="row header">
      <div>全選<input type="checkbox" id="checkAll"></div>
      <div>商品名稱</div>
      <div>商品圖片</div>
      <div>商品庫存</div>
      <div>單價</div>
      <div>數量</div>
      <div>總計</div>
    </div>

    <!-- 商品 1 -->
    <div class="row">
      <div><input type="checkbox"></div>
      <div>肥尾守宮</div>
      <div class="product-img">
        <img src="../static/img/肥尾守宮.jpg" alt="肥尾守宮">
      </div>
      <div>18</div>
      <div>$1300</div>
      <div>
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
      <div>$1300</div>
    </div>

    <!-- 商品 2 -->
    <div class="row">
      <div><input type="checkbox"></div>
      <div>豹紋守宮</div>
      <div class="product-img">
        <img src="../static/img/豹紋守宮.jpg" alt="豹紋守宮">
      </div>
      <div>50</div>
      <div>$1550</div>
      <div>
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
      <div>$1550</div>
    </div>

    <!-- 商品 3 -->
    <div class="row">
      <div><input type="checkbox"></div>
      <div>睫角守宮</div>
      <div class="product-img">
        <img src="../static/img/截角守宮.jpg" alt="睫角守宮">
      </div>
      <div>23</div>
      <div>$1899</div>
      <div>
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
      <div>$1899</div>
    </div>

    <!-- 總計列 -->
    <div class="row total">
      <div>Total</div>
      <div>$50</div>
    </div>
  </div>

  <div style="text-align:right; margin-top:10px;">
    <button class="checkout">結帳</button>
  </div>

</body>
</html>
